# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3

media/
staticfiles/

# Variables de entorno
.env

# Editor / Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales
*.bak
*.swp
*.tmp