@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind v4 theme block */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #313131;
  }
}

/* Estilos globales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fondo con imagen + blur */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("/fondo.png") center/cover no-repeat;
  background-attachment: fixed;

  filter: blur(24px) brightness(1.2);
  z-index: -1;
}
